@use "./partials/config" as c;
@use "./partials/resets";
@use "./partials/globals";
@use "./partials/nav";
@use "./partials/footer";
@use "./partials/button";


/* HERO SECTION */
.hero {
  background-color: c.$primary-color-two;

  &__wrapper {
    @include globals.containerCenter;
    @include globals.gridCenter(2, 1);
    column-gap: 4rem;
    padding: 12rem 6rem;
  }

  &__text-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__heading {
    @include globals.headingPrimary;
    margin-bottom: 1rem;
  }

  &__description {
    @include globals.paragraphRegular;
    color: c.$font-color-primary;
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  &__cta-btn {
    @include button.buttonPrimary(2rem, 4rem);
  }

  &__img-container {
    max-width: 24rem;
    max-height: 55rem;
  }

  &__img {
    padding: 2rem;
    max-width: 100%;
  }
}

// PRODUCT SECTION
.product {
  background-color: c.$neutral-color-three;

  &__wrapper {
    @include globals.containerCenter;
    @include globals.flexCenter;
    flex-direction: column;
    padding: 8rem;
    row-gap: 4rem;
  }

  &__heading {
    @include globals.headingPrimary;
    margin-bottom: 4rem;
  }

  &__card-container {
    @include globals.flexCenter;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 6rem;
    margin-bottom: 4rem;
  }

  &__card {
    min-width: 33rem;
    max-width: 35rem;
    min-height: 44rem;
    max-height: 46rem;
    background-color: c.$neutral-color-four;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2.2rem;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 9px -1px;
    overflow: hidden;
  }

  &__img-container {
    padding: 1rem;
    min-height: 24rem;
    max-height: 55rem;
  }

  &__img {
    width: 100%;
  }

  &__text-container {
    width: 100%;
    background-color: c.$primary-color-two;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__name {
    @include globals.headingSecondary;
  }

  &__description {
    @include globals.paragraphRegular;
    color: c.$font-color-alternate;
  }

  &__price {
    font-size: 3.3rem;
    color: c.$font-color-highlight;
    font-weight: map-get(c.$font-weights, bold);
  }

  &__btn {
    @include button.buttonPrimary(2rem, 4rem);
  }
}

/* DISCOUNT SECTION */
.discount {

  &__wrapper {
    @include globals.containerCenter;
    @include globals.gridCenter(2, 1);
    padding: 12rem;
    gap: 2rem;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;
  }

  &__heading {
    @include globals.headingPrimary;
    color: c.$neutral-color-one;
    margin-bottom: 2rem;

  }

  &__description {
    @include globals.paragraphRegular;
    color: c.$neutral-color-one;

  }

  &__icon-container {
    display: flex;
    justify-content: space-between;
    gap: 8rem;

  }

  &__icon {
    width: 5rem;
    height: 5rem;
    //margin-right: 2rem;

  }

  &__btn {
    @include button.buttonPrimary(2rem, 2rem);
    width: 40%;
  }

  &__img-container {
    @include globals.flexCenter;
    width: 40rem;
    height: 40rem;
    outline: 4px solid c.$primary-color-one;
    position: relative;
    z-index: 1;
    transition: all 2s ease;

    &::after {
      content: "";
      background-image: url("../assets/images/coldbrewbackground.png");
      background-size: cover;
      background-position: center;
      position: absolute;
      inset: 0;
      transform: translate(5%, 5%);
      z-index: -1;
    }
  }

  &__img:hover {
    animation: rotate 2s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &__text {
    @include globals.containerCenter;
    @include globals.headingPrimary;
    background-color: c.$neutral-color-one;
    color: c.$font-color-secondary;
    display: block;
    padding: 6rem 0;
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 12rem;
    animation: fade 2.5s infinite ease-out;
  }

  @keyframes fade {
    0% {
      background-color: c.$neutral-color-one;
    }

    50% {
      background-color: c.$primary-color-one;
    }
  }
}
