@use "./partials/config" as c;
@use "./partials/resets";
@use "./partials/globals";
@use "./partials/nav";
@use "./partials/footer";
@use "./partials/button";


.menu {
    background-color: c.$neutral-color-four;

    &__wrapper {
        @include globals.containerCenter;
        width: 100%;
    }

    &__img {
        @include globals.flexCenter;
        background-image: url(../assets/images/coffee-circle.jpg);
        background-position: center;
        background-size: cover;
        min-width: 100%;
        max-width: 100%;
        min-height: 57.5rem;
        max-height: 60rem;
        position: relative;
    }

    &__heading {
        @include globals.headingPrimary;
        color: c.$font-color-secondary;
        text-transform: uppercase;
        padding: 4rem;
        outline: 4px solid c.$primary-color-one;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            background: c.$neutral-color-one;
            position: absolute;
            inset: 0;
            transform: translate(5%, 10%);
            z-index: -1;
        }
    }

    &__list {
        @include globals.flexCenter;
        background-color: c.$neutral-color-one;
        padding: 3rem 2rem;
        font-size: 2.1rem;
        text-transform: uppercase;
        list-style: none;
    }

    &__list-item:link,
    &__list-item:visited {
        color: c.$neutral-color-four;
        text-decoration: none;
        padding: 0.2rem 2rem;
        border-left: 4px solid c.$primary-color-one;
    }
}

/* HOT DRINKS & PASTRIES */
.hotDrinks,
.coldDrinks,
.pastries {
    background-color: c.$primary-color-two;
    padding: 4rem 0;

    &__heading {
        @include globals.headingPrimary;
        text-align: center;
        margin-bottom: 4rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        list-style: none;
    }

    &__item-name {
        @include globals.headingSecondary;
        text-align: center;
    }

    &__item-description {
        @include globals.paragraphItalic;
        color: c.$neutral-color-one;
        margin: 2rem auto;
        text-align: center;
        width: 33%;
        line-height: 2.5rem;
    }

    &__item-price {
        @include globals.paragraphRegular;
        color: c.$font-color-highlight;
        text-align: center;
    }
}

.coldDrinks {
    background-color: c.$neutral-color-three;
}
