* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.nav {
  background-color: #FFF0ED;
}
.nav__logo {
  min-width: 5rem;
  max-width: 12rem;
  margin-right: 1rem;
}
.nav__heading {
  text-transform: lowercase;
  font-size: 6rem;
  color: #393939;
  font-weight: 300;
}
.nav__list {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  padding: 2rem;
  gap: 4rem;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 2.1rem;
  list-style: none;
}
.nav__list li:first-child {
  margin-right: auto;
}
.nav__list-item:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__list-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #393939;
}
.nav__list-item--cta {
  color: #5BACC3;
}

.footer {
  background-color: #FFF0ED;
}
.footer__wrapper {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20rem;
  row-gap: 6rem;
  padding: 8rem 4rem;
  position: relative;
  overflow-x: hidden;
}
.footer__img {
  scale: 2;
  min-width: 6rem;
  max-width: 12rem;
  position: absolute;
  opacity: 25%;
}
.footer__img--left {
  top: 6rem;
  left: -1rem;
}
.footer__img--right {
  bottom: 8rem;
  right: -1rem;
}
.footer__title {
  color: #393939;
  font-size: 3.3rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.footer__description {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}
.footer__description p {
  margin-bottom: 1rem;
}
.footer__icon {
  min-width: 5rem;
  max-width: 12rem;
  margin-right: 2rem;
}

/* HERO SECTION */
.hero {
  background-color: #FFF0ED;
}
.hero__wrapper {
  margin: 0 auto;
  max-width: 150rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 4rem;
  padding: 12rem 6rem;
}
.hero__text-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.hero__heading {
  color: #393939;
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.hero__description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #393939;
  margin-bottom: 2rem;
  line-height: 3rem;
}
.hero__cta-btn {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  padding: 2rem 4rem;
  cursor: pointer;
  outline: 2px solid #393939;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
.hero__cta-btn::after {
  content: "";
  background: #5BACC3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 4%;
  z-index: -1;
}
.hero__cta-btn:active {
  transform: translate(4%, 10%);
}
.hero__cta-btn:active::after {
  transform: translate(-4%, -10%);
}
.hero__img-container {
  max-width: 24rem;
  max-height: 55rem;
}
.hero__img {
  padding: 2rem;
  max-width: 100%;
}

.product {
  background-color: #F7F7F7;
}
.product__wrapper {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
  row-gap: 4rem;
}
.product__heading {
  color: #393939;
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.product__card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 4rem;
  column-gap: 6rem;
  margin-bottom: 4rem;
}
.product__card {
  min-width: 33rem;
  max-width: 35rem;
  min-height: 44rem;
  max-height: 46rem;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2.2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 9px -1px;
  overflow: hidden;
}
.product__img-container {
  padding: 1rem;
  min-height: 24rem;
  max-height: 55rem;
}
.product__img {
  width: 100%;
}
.product__text-container {
  width: 100%;
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}
.product__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product__name {
  color: #393939;
  font-size: 3.3rem;
  font-weight: 300;
}
.product__description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #909090;
}
.product__price {
  font-size: 3.3rem;
  color: #5BACC3;
  font-weight: 700;
}
.product__btn {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  padding: 2rem 4rem;
  cursor: pointer;
  outline: 2px solid #393939;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
.product__btn::after {
  content: "";
  background: #5BACC3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 4%;
  z-index: -1;
}
.product__btn:active {
  transform: translate(4%, 10%);
}
.product__btn:active::after {
  transform: translate(-4%, -10%);
}

/* DISCOUNT SECTION */
.discount__wrapper {
  margin: 0 auto;
  max-width: 150rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  padding: 12rem;
  gap: 2rem;
}
.discount__text-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 70%;
}
.discount__heading {
  color: #393939;
  font-size: 6rem;
  font-weight: 300;
  color: #393939;
  margin-bottom: 2rem;
}
.discount__description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #393939;
}
.discount__icon-container {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}
.discount__icon {
  width: 5rem;
  height: 5rem;
}
.discount__btn {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  padding: 2rem 2rem;
  cursor: pointer;
  outline: 2px solid #393939;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  width: 40%;
}
.discount__btn::after {
  content: "";
  background: #5BACC3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 4%;
  z-index: -1;
}
.discount__btn:active {
  transform: translate(4%, 10%);
}
.discount__btn:active::after {
  transform: translate(-4%, -10%);
}
.discount__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  outline: 4px solid #5BACC3;
  position: relative;
  z-index: 1;
  transition: all 2s ease;
}
.discount__img-container::after {
  content: "";
  background-image: url("../assets/images/coldbrewbackground.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  transform: translate(5%, 5%);
  z-index: -1;
}
.discount__img:hover {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.discount__text {
  margin: 0 auto;
  max-width: 150rem;
  color: #393939;
  font-size: 6rem;
  font-weight: 300;
  background-color: #393939;
  color: #FFF;
  display: block;
  padding: 6rem 0;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 12rem;
  animation: fade 2.5s infinite ease-out;
}
@keyframes fade {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5BACC3;
  }
}

/*# sourceMappingURL=landing.css.map */
