* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.nav {
  background-color: #FFF0ED;
}
.nav__logo {
  min-width: 5rem;
  max-width: 12rem;
  margin-right: 1rem;
}
.nav__heading {
  text-transform: lowercase;
  font-size: 6rem;
  color: #393939;
  font-weight: 300;
}
.nav__list {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  padding: 2rem;
  gap: 4rem;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 2.1rem;
  list-style: none;
}
.nav__list li:first-child {
  margin-right: auto;
}
.nav__list-item:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__list-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #393939;
}
.nav__list-item--cta {
  color: #5BACC3;
}

.footer {
  background-color: #FFF0ED;
}
.footer__wrapper {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20rem;
  row-gap: 6rem;
  padding: 8rem 4rem;
  position: relative;
  overflow-x: hidden;
}
.footer__img {
  scale: 2;
  min-width: 6rem;
  max-width: 12rem;
  position: absolute;
  opacity: 25%;
}
.footer__img--left {
  top: 6rem;
  left: -1rem;
}
.footer__img--right {
  bottom: 8rem;
  right: -1rem;
}
.footer__title {
  color: #393939;
  font-size: 3.3rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.footer__description {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}
.footer__description p {
  margin-bottom: 1rem;
}
.footer__icon {
  min-width: 5rem;
  max-width: 12rem;
  margin-right: 2rem;
}

.menu {
  background-color: #FFF;
}
.menu__wrapper {
  margin: 0 auto;
  max-width: 150rem;
  width: 100%;
}
.menu__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/coffee-circle.jpg);
  background-position: center;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
  min-height: 57.5rem;
  max-height: 60rem;
  position: relative;
}
.menu__heading {
  color: #393939;
  font-size: 6rem;
  font-weight: 300;
  color: #FFF;
  text-transform: uppercase;
  padding: 4rem;
  outline: 4px solid #5BACC3;
  position: relative;
  z-index: 1;
}
.menu__heading::after {
  content: "";
  background: #393939;
  position: absolute;
  inset: 0;
  transform: translate(5%, 10%);
  z-index: -1;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #393939;
  padding: 3rem 2rem;
  font-size: 2.1rem;
  text-transform: uppercase;
  list-style: none;
}
.menu__list-item:link, .menu__list-item:visited {
  color: #FFF;
  text-decoration: none;
  padding: 0.2rem 2rem;
  border-left: 4px solid #5BACC3;
}

/* HOT DRINKS & PASTRIES */
.hotDrinks,
.coldDrinks,
.pastries {
  background-color: #FFF0ED;
  padding: 4rem 0;
}
.hotDrinks__heading,
.coldDrinks__heading,
.pastries__heading {
  color: #393939;
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4rem;
}
.hotDrinks__list,
.coldDrinks__list,
.pastries__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
}
.hotDrinks__item-name,
.coldDrinks__item-name,
.pastries__item-name {
  color: #393939;
  font-size: 3.3rem;
  font-weight: 300;
  text-align: center;
}
.hotDrinks__item-description,
.coldDrinks__item-description,
.pastries__item-description {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
  color: #393939;
  margin: 2rem auto;
  text-align: center;
  width: 33%;
  line-height: 2.5rem;
}
.hotDrinks__item-price,
.coldDrinks__item-price,
.pastries__item-price {
  font-size: 1.8rem;
  font-weight: 400;
  color: #5BACC3;
  text-align: center;
}

.coldDrinks {
  background-color: #F7F7F7;
}

/*# sourceMappingURL=menu.css.map */
