@use "config" as c;
@use "globals";


@mixin buttonPrimary($vertical, $horizontal) {
  @include globals.buttonText;
  //min-width: 18rem;
  //max-width: 80%;
  text-decoration: none;
  text-align: center;
  color: c.$font-color-secondary;
  padding: $vertical $horizontal;
  cursor: pointer;
  outline: 2px solid c.$neutral-color-one;
  position: relative;
  z-index: 1;
  transition: all 0.3s;

  &::after {
    content: "";
    background: c.$primary-color-one;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 4%;
    z-index: -1;
  }

  &:active {
    transform: translate(4%, 10%);
  }

  &:active::after {
    transform: translate(-4%, -10%);
  }
}
