// COLORS
$primary-color-one: #5BACC3;
$primary-color-two: #FFF0ED;

$neutral-color-one: #393939;
$neutral-color-two: #909090;
$neutral-color-three: #F7F7F7;
$neutral-color-four: #FFF;

// FONT COLORS
$font-color-primary: #393939;
$font-color-secondary: #FFF;
$font-color-highlight: #5BACC3;
$font-color-alternate: #909090;

// FONT STYLES
$font-weights: (
        "light": 300,
        "regular": 400,
        "regular-italic": 400,
        "bold": 700
)
