@use "./config" as c;
@use "./globals";


.footer {
  background-color: c.$primary-color-two;

  &__wrapper {
    @include globals.containerCenter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20rem;
    row-gap: 6rem;
    padding: 8rem 4rem;
    position: relative;
    overflow-x: hidden;
  }

  &__img {
    scale: 2;
    min-width: 6rem;
    max-width: 12rem;
    position: absolute;
    opacity: 25%;

    &--left {
      top: 6rem;
      left: -1rem;
    }

    &--right {
      bottom: 8rem;
      right: -1rem;
    }
  }

  &__title {
    @include globals.headingSecondary;
    margin-bottom: 4rem;
  }

  &__description {
    @include globals.paragraphRegular;
    font-style: normal;
    margin-bottom: 1rem;

    p {
      margin-bottom: 1rem;
    }
  }

  &__icon {
    min-width: 5rem;
    max-width: 12rem;
    margin-right: 2rem;
  }
}

