@use "./config" as c;


@mixin containerCenter {
    margin: 0 auto;
    max-width: 150rem;
}

@mixin gridCenter($columns, $rows) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    justify-items: center;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin headingPrimary {
    color: c.$font-color-primary;
    font-size: 6rem;
    font-weight: map-get(c.$font-weights, light);
}

@mixin headingSecondary {
    color: c.$font-color-primary;
    font-size: 3.3rem;
    font-weight: map-get(c.$font-weights, light);
}

@mixin buttonText {
    font-size: 2rem;
    font-weight: map-get(c.$font-weights, regular);
    text-transform: uppercase;
}

@mixin paragraphRegular {
    font-size: 1.8rem;
    font-weight: map-get(c.$font-weights, regular);
}

@mixin paragraphItalic {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: map-get(c.$font-weights, regular);
}


html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
