@use "./config" as c;
@use "./globals";


.nav {
    background-color: c.$primary-color-two;

    &__logo {
        min-width: 5rem;
        max-width: 12rem;
        margin-right: 1rem;
    }

    &__heading {
        text-transform: lowercase;
        font-size: 6rem;
        color: c.$font-color-primary;
        font-weight: map-get(c.$font-weights, light);
    }

    &__list {
        @include globals.containerCenter;
        display: flex;
        padding: 2rem;
        gap: 4rem;
        align-items: center;
        justify-content: flex-end;
        text-transform: uppercase;
        font-size: 2.1rem;
        list-style: none;

        & li:first-child {
            margin-right: auto;
        }

        &-item:first-child {
            @include globals.flexCenter;
        }

        &-item {
            text-decoration: none;
            text-transform: uppercase;
            color: c.$font-color-primary;

            &--cta {
                color: c.$font-color-highlight;
            }
        }
    }
}
